#background {
    background-color: #e6ffe6
}

#name {
    text-align: center;
    background-color:  #ffffcc;
    padding: 25px;
    border-radius: 10px;
}
#omid {
    position: relative;
    float: right;
}
#career {
    padding-top: 30px;
}

.btn-secondary {
    background-color: #595959;
}
#rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#interests {
    background-color: #ff6666;
    height: 150px;
    padding-top: 25px;
}

#hobbies {
    background-color: #5cd65c;
    height: 150px;
    padding-top: 25px;
}

#skills {
    background-color: #008ae6;
    height: 150px;
    padding-top: 25px;
}
